@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

.cursor-pointer {
  cursor: pointer;
}

.hover-bg:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}

.btn-light:hover {
  background-color: #f3f4f6;
}
.image-container .btn-border {
  visibility: hidden;
}

.image-container:focus-within .btn-border,
.image-container .btn-border:focus {
  visibility: visible;
}

.image-container:hover .btn-border {
  visibility: visible;
}
.cat-thumbnail:hover {
  cursor: pointer;
  opacity: 0.8;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 768px) {
  .image-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
.btn-border {
  background-color: white;
}
.btn-border:hover {
  background-color: #f8f9fa;
}
.thumbnail:hover {
  cursor: pointer;
  opacity: 0.8;
}

$utilities: map-merge(
  $utilities,
  (
    "border":
      map-merge(
        map-get($utilities, "border"),
        (
          responsive: true,
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    ),
  )
);
