@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.bg-black:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-1 {
  background-color: #f3f4f6;
}

.hover-bg-1:hover {
  background-color: #f3f4f6;
}

.hover-bg-1:focus {
  background-color: #f3f4f6;
}

.hover:bg-1:hover {
  background-color: #f3f4f6;
}

.btn-light:hover {
  background-color: #f3f4f6;
}
.image-container .btn-border {
  visibility: hidden;
}

.scale-up-animation:hover {
  transform: scale(1.03);
}

.scale-up-animation {
  transition: 0.3s ease-in-out;
}

.form-control {
  border-radius: 8px !important;
}

.focus-ring:focus {
  --focus-ring-width: 0.25rem;
  --focus-ring-opacity: 0.25;
  --focus-ring-color: rgba(0, 123, 255, var(--focus-ring-opacity));
  --focus-ring-blur: 0;

  outline: none !important;
  box-shadow: 0 0 var(--focus-ring-blur) var(--focus-ring-width) var(--focus-ring-color) !important;
}

.fs-7 {
  font-size: 14px;
}

.btn-border {
  background-color: white;
}
.btn-border:hover {
  background-color: #f8f9fa;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: white;

  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 8px;
  left: 8px;
}

$form-check-input-border: var(--#{$prefix}border-width) solid #000;
$form-check-input-focus-border: #000;
$form-check-input-checked-bg-color: #000;
$form-check-input-checked-border-color: #000;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");

$utilities: map-merge(
  $utilities,
  (
    "border":
      map-merge(
        map-get($utilities, "border"),
        (
          responsive: true,
        )
      ),
  )
);

@media (max-width: 768px) {
  .w-sm-100 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .focus-ring:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

@import "node_modules/bootstrap/scss/bootstrap";
