@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

html,
body {
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.bg-black:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-1 {
  background-color: #f3f4f6;
}

.hover-bg-1:hover {
  background-color: #f3f4f6;
}

.hover-bg-1:focus {
  background-color: #f3f4f6;
}

.hover:bg-1:hover {
  background-color: #f3f4f6;
}

.btn-light:hover {
  background-color: #f3f4f6;
}
.image-container .btn-border {
  visibility: hidden;
}

.image-container:focus-within .btn-border,
.image-container .btn-border:focus {
  visibility: visible;
}

.image-container:hover .btn-border {
  visibility: visible;
}
.cat-thumbnail:hover {
  cursor: pointer;
  opacity: 0.8;
}

.fs-7 {
  font-size: 0.875rem;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 768px) {
  .image-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
.btn-border {
  background-color: white;
}
.btn-border:hover {
  background-color: #f8f9fa;
}
.thumbnail:hover {
  cursor: pointer;
  opacity: 0.8;
}

$form-check-input-border: var(--#{$prefix}border-width) solid #000;
$form-check-input-focus-border: #000;
$form-check-input-checked-bg-color: #000;
$form-check-input-checked-border-color: #000;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");

$utilities: map-merge(
  $utilities,
  (
    "border":
      map-merge(
        map-get($utilities, "border"),
        (
          responsive: true,
        )
      ),
  )
);

@media (max-width: 768px) {
  .w-sm-100 {
    width: 100%;
  }
}

@import "node_modules/bootstrap/scss/bootstrap";
